[submodule "no_more_potentially_dynamic_objects_fork"]
	path = no_more_potentially_dynamic_objects_fork
	url = https://github.com/jclundy/no_more_potentially_dynamic_objects_fork
[submodule "openPCDet_fork"]
	path = openPCDet_fork
	url = https://github.com/jclundy/openPCDet_fork
[submodule "voxelNeXt_fork"]
	path = voxelNeXt_fork
	url = git@github.com:jclundy/voxelNeXt_fork.git
[submodule "semantic-kitti-api"]
	path = semantic-kitti-api
	url = https://github.com/PRBonn/semantic-kitti-api.git
[submodule "FreeDOM"]
	path = FreeDOM
	url = https://github.com/LC-Robotics/FreeDOM.git
